.App {
  margin-top: 20px;
  padding: 20px;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 214, 127);
  width: 30%;
  margin-left: 35%;
  border-radius: 80px;
  border-style: dotted;
  justify-items: inherit;
  font-family: "Roboto Mono", "monospace";
}
